@font-face {
font-family: 'MyriadPro-Regular';
src: url('fonts/MyriadPro-Regular.ttf');
}
@font-face {
font-family: 'MyriadPro-Light';
src: url('fonts/MyriadPro-Light.ttf');
}
html,
body{
	font-size: 16px;
}
body{
	color: #000;
	font-family:'MyriadPro-Regular',sans-serif;
	width: 100% auto;
	max-width: 1930px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}
a{	
	text-decoration: none;
}
a:hover{
	text-decoration: underline;	
}
					/*menu*/
					
.logo{
	font-family:'MyriadPro-Regular',sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 28px;
	
}
.color{
	font-family:'MyriadPro-Regular',sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0474bc;
}				
h1{
	font-family:'MyriadPro-Light',sans-serif;
	font-size: 5rem;
	font-weight: normal;
}
header {
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 2em 10%;
    background: #ffffff;
    color: #797979;
}
header h1,
header nav {
    display: inline-block;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
header h1 {
    height: 100%;
}
header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}
nav a{
	color: #797979;
	font-size: 20px;
	margin-right: 10px;
}

									/*1block*/
									
.container1{
	position: relative;
	background: #0474bc;
    background: linear-gradient(to right, #0474bc 0%, #0575bd 36%, #32b3ed 100%);
    color: #fff; 
    border-top: 2px solid #2789b6; 
	height: 500px;
	
}
#text {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55%;
	margin: auto;
}
										/*2block*/
										
.container2{
	max-width: 1930px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.item-pairs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.txt{
	width: 330px;
	background: #dedede;
	color: #585858;
	margin: 20px 10px;
	padding: 30px 25px;
	border-radius: 10px;
	text-align: left;
	box-sizing: border-box; 
}
.btn{
  color: #fff; 
  background: #0474bc;
  padding: .7em 1.5em; 
  outline: none;
}
.btn:hover{
	 background: transparent;
	 color: #0474bc;
	 border: 1px solid #0474bc;
}
.btn:active{
	background: transparent;
	color: #0474bc;
	border: 1px solid #0474bc;
}

a:hover .btn01{
  display: none;
 
}
a .btn02 {
  display: none;
}
a:hover .btn02 {
  display: inline;
}
.container2 img{
	margin: 30px 10px;
}
							/* линии*/
h2 {
	font-family:'MyriadPro-Light',sans-serif;
	color: #797979;
  overflow: hidden;
  position: relative;
  margin: 20px;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  white-space: nowrap;
}
h2:before,
h2:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 10%;
  height: 1px;
  vertical-align: middle;
  background: #787878;
}
h2:before {
  left: -10px;
  margin-left: -2%;
}
h2:after {
  left: 10px;
  margin-right: -2%;
}

			/*footer*/
footer{
	padding: 15px;
	background-color: #1a1a1a;
	
	color: #ffffff;
	font-size: 16px;
	line-height: 1.2;
}

.container_footer{
	max-width: 1930px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.row{

	flex-direction: column;
	max-width: 300px;
	flex: 1;
	margin: 0 10px;
	padding:0 10px;
	text-align: left;
 
}
footer .logo{
	font-family:'MyriadPro-Regular',sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	font-size: 28px;
	
}
footer .color{
	font-family:'MyriadPro-Regular',sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	color: #0474bc;
}
footer p{
	color: #787878;
}
footer h3{
	font-family:'MyriadPro-Regular',sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;	
}
footer ul li{
	color: #787878;
}
li {
    list-style: none; 
    text-indent: -2em; 
}
li::before {
    content: '\25ba'; 
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: #787878; 
}
footer a{
	color: #ffffff;
}
footer .btn{
  color: #777777; 
  background: transparent;
  padding: .5em 1.6em; 
  border: 1px solid #777777;
  outline: none;
}
footer .btn:hover{
	 background: transparent;
	 color: #0474bc;
	 border: 1px solid #0474bc;
}
footer .btn:active{
	background: transparent;
	color: #0474bc;
	border: 1px solid #0474bc;
}

footer a:hover .btn01{
  display: none;
 
}
footer a .btn02 {
  display: none;

}
footer a:hover .btn02 {
  display: inline;
}
@media screen and (max-width: 750px){
 html{
	 font-size: 8px;
 }
}









