html,body {
	height: 100%;
	margin: 0;
}
body {
	margin: 0;
	color: #424241;
	min-width: 779px;
	
				font: 11px TradeGothic, sans-serif;
				
				

}
h1{
	font-family: TradeGothic, sans-serif;
	color: #fff;
	font-size: 24px;
	line-height: 14px;
}

h2{
	font-family: TradeGothic;
	color:  #871a01;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
}
h3{
	font-family: TradeGothic;
	color:  #fcfafa;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
}

/* General reset */
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	vertical-align:top;
}
ul li{vertical-align:top;}
input, select, textarea {
	vertical-align: middle;
}
a {
			color: #f00;
	text-decoration: none;
}
a:hover {text-decoration: none;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
figure{margin:0;}

button::-moz-focus-inner {
	padding:0;
	border:0;
}

a:focus,
a:hover {
 outline: none;
 outline: 0;
}
/* wrapper */
#wrapper {
	overflow: hidden;
	width: 974px;
	min-height: 100%;
				margin: 0 auto;
				position: relative;			
}
.w1 {
	
	padding-bottom: 0;
	position: relative;
	background: #9e9e80;	
}

.shadow{
	overflow: hidden;	
	width: 780px;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: 0 0 12px 2px rgba(0,0,0,5);
	
}
/* header */
#header {
	overflow: hidden;
	width: 779px;			
	position: relative;
					color: #000;
	padding: 0;
	background: #f7f8dd url(../images/bg.jpg) no-repeat 0 0;
	background-position: top right;	
				margin: 0 auto;
}
#header .logo {
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0;
	padding: 15px 0 19px 17px;
}
#header .logo a, 
#header .logo span {
	width: 315px;
	height: 99px;
	background: url(../images/logo.gif) no-repeat 0 0;			
	display: block;
}

/*-----------------*/
.header-menu{
	width: 100%;
	font-weight: 700;
	text-transform: uppercase;
	background: #919b3d;	  
    position: relative;
    overflow: hidden;
	margin: 0 auto;
	text-align: center;	
}
.header-menu ul {
    list-style: none;
	margin: 0 auto;
    padding: 0;
    position: relative; 	
}
.header-menu ul li {
    position: relative;
    margin: 0 2px 0 0;
	padding: 0;
    display: inline-block;
}
.header-menu ul li a {
	font-family: Trade Gothic LT, sans-serif;
	font-size: 12px;
	line-height: 32px;
	font-weight: 700;
    color:  #f9faf5;
    display: block;
    text-decoration: none;
    padding: 1px 2px;
}
.header-menu ul > li > a:hover{	
	color:  #919b3d;
	background: #e6e8c2;
}
/*-----------------------*/
.header-menu ul li:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;			
	width: 1px;
	height: 32px;
	background: #bdc38b;					
}
.header-menu ul li:last-child:before{
	content: "";
	background: none;	
}
/*-----------------*/

/*sub menu*/

.header-menu ul ul.submenu{
	display: none;
	position: absolute;
	top: 20px;
				left: 10px;
	
	background: #e6e8c2;
			z-index: 100;	
}
.header-menu ul > li:hover ul.submenu{
	display: block;
	position: absolute;
	z-index: 1000;
}
.header-menu ul.submenu > li {
    display: block;
		position: absolute;
	z-index: 1000;
}
.header-menu ul.submenu > li:before{
	content: "";
	background: none;
}
.header-menu ul.submenu > li > a {
    display: block;

    font-family: verdana;
	color:  #2e2d32;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.275px;
	line-height: 18px;
    background: #e6e8c2;
    text-decoration: none;
		position: absolute;
	z-index: 1000;
	
	
}

/*---------------*/
/* main */
#main {
	overflow:hidden;
	position: relative;
	width:100%;
}

/*-----------------------*/
.wrap{
	overflow: hidden;
	position: relative;
	width: 100%;
					
					
					margin: 0 auto;
					background: #f7f8dd;
					
					
}

/* sidebar */
#sidebar {
	overflow: hidden;
	float: left;
	width: 23.8%;
	position: relative;
	top: 5px;
	left: 2px;					
}
#sidebar h2{
	letter-spacing: -.145em;
	margin: 0 0 2px 2px;
}
.block-form{
	overflow: hidden;
	padding: 17px 0 11px 11px;		
	background: #d3d471;	
}

select{
	font-family: "Silkscreen Expanded Bold";
	color:  #5c5b5b;
	font-size: 9px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	padding: 2px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	border: 1px solid #000;
}
input{
	font-family: "Silkscreen Expanded";
	color:  #000;
	font-size: 9px;
	font-weight: 400;
	line-height: 16px;
	
	text-align: left;
	text-transform: uppercase;
	border: 1px solid #000;
	padding: 0;
}

.block-maps{
	overflow: hidden;
	padding: 9px 0 17px 11px;		
	background: #d3d471;
}
.map{
    display: flex;
    justify-content: center; 
    align-items: center;
	width: 162px;
	height: 227px;
	background: #585921;
	color: #fff;	
}
.map h3{
	color: #fff;
	letter-spacing: -.145em;	
}
.border{	 
	width: 100%;
	height: 7px;
	background: #d3d471;
}
.searches{
	overflow: hidden;
	padding: 10px 0 3px 10px;		
	background: #d3d471;	
}
.searches h2{
	padding: 0 0 2px 0;
}
.searches li{
    list-style-type: none; 
}
.searches ul{
    margin: 0 0 5px 0; 
    padding-left: 0; 
}
.searches ul li a{
	font-family: Verdana;
	color:  #000000;
	font-size: 11px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding: 0 0 10px 16px;
}
/* content */
#content {
	overflow: hidden;
	position: relative;
			width: 76%;
			
	float: right;
	padding: 0;
	
					
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*-------------*/
.img{
	position: relative;
	right: -1px;
	
	
}
.img h1{
	position: absolute;
	top: 198px;
	left: 12px;
	letter-spacing: -.1em;
	width: 100%;
}
.txt{
	width: 383px;
			float: left;
}
.listing{
	width: 180px;
			float: right;
			
			border: 1px solid #000;
			text-align: left;
}
.listing .price p{
	font-family: Verdana;
	color:  #000000;
	font-size: 11px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	padding: 0;
	margin: 5px 0 0 5px;
	text-transform: uppercase;
}
.info{
	padding: 23px 0 20px 13px;
}
.info p{
	font-family: verdana;
	color:  #424241;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
	padding: 0 0 16px 0;
	margin: 0;
}

/*--------------------*/
.menu-bottom{
	width: 100%;
	background: #d3d471;
	position: relative;
	
    overflow: hidden;
	margin: 0 auto;
	padding: 25px 0 17px 0;
	text-align: center;	
}

.menu-bottom ul {
    list-style: none;
	margin: 0 auto;
    padding: 0;
    position: relative; 
					
}
.menu-bottom ul li {
    position: relative;
    margin: 0 7px 0 0;
	padding: 0;
    display: inline-block;
}
.menu-bottom ul li a {
	font-family: "Myriad Pro", sans-serif;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.275px;
    color:  #871a01;
    display: block;
    text-decoration: none;
    padding: 0;
}
.menu-bottom ul > li > a:hover{	
	color:  #919b3d;
	background: #e6e8c2;
}
/*-----------------------*/
.menu-bottom ul li:before{
	content: "";
	position: absolute;
	top: 0;
	right: -3px;			
	width: 1px;
	height: 13px;
	background: #871a01;					
}
.menu-bottom ul li:last-child:before{
	content: "";
	background: none;	
}
/*-----------------*/

/* footer */
#footer {
	overflow: hidden;
	width: 974px;
	padding: 0;
	position: relative;
	height: 100%;
	
	margin: 0 auto;
			text-align: center;
	background: #9e9e80;
	
			
			
}
.footer{
	margin: 0 auto;
	padding: 16px 0 11px 10px;
	text-align: center;
	background: #f7f8dd;
			/*-webkit-box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.75);
			box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.75);*/
		
}
.footer p{
	font-family: verdana;
	color:  #606126;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 18px;
	text-align: center;
	margin: 0;	
}
span.p{
	font-family: verdana;
	color:  #606126;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 0.25px;
	line-height: 18px;
	text-align: center;
	margin: 0;
}
.footer-bottom{
			width: 779px;		
}
/* placeholder input*/
input:-moz-placeholder {
	color: #000;
	opacity:1;
}
input::-moz-placeholder {
	color: #000;
	opacity:1;
}
input::-webkit-input-placeholder {color: #000;}
input:-ms-input-placeholder {color: #000 ;}
/* input:focus placeholder */
input:focus:-moz-placeholder {
	color:#999;
	opacity:1;
}
input:focus::-moz-placeholder {
	color:#999;
	opacity:1;
}
input:focus::-webkit-input-placeholder {color:#999;}
input:focus:-ms-input-placeholder {color: #999 ;}
/* placeholder  textarea*/
textarea:-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea::-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color: #999 ;}
/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea:focus::-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea:focus::-webkit-input-placeholder {color:#999;}
textarea:focus:-ms-input-placeholder {color: #999 ;}



@font-face { 
  font-family: "verdana";  
    src: url("../fonts/verdana.ttf")  format('truetype');   
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Silkscreen Expanded";  
    src: url("../fonts/Silkscreen Expanded.ttf")  format('truetype');   
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Silkscreen Expanded Bold";  
    src: url("../fonts/Silkscreen Expanded Bold.ttf")  format('truetype');   
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "TradeGothic"; 
  src: url('../fonts/TradeGothic.otf') format('truetype');  
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Trade Gothic LT"; 
  src: url('../fonts/Trade Gothic LT.eot') format('eot'), 
       url('../fonts/Trade Gothic LT.ttf')  format('truetype'),  
       url('../fonts/Trade Gothic LT.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'TradeGothicLT-CondEighteen'; 
  src: url('../fonts/TradeGothicLT-CondEighteen.eot') format('eot'), 
       url('../fonts/TradeGothicLT-CondEighteen.ttf')  format('truetype'),  
       url('../fonts/TradeGothicLT-CondEighteen.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

