html,body {
	height: 100%;
	margin: 0;
}
body {
	margin: 0;
	color: #0000ff;
	max-width: 1920px;
	min-width: 320px;
	font: 18px "century gothic", arial, helvetica, sans-serif;
	font-weight: 700;
	margin: 0 auto;
}

#header {
	max-width: 100%;
	height: 10px;
	background: #fff;
	margin-bottom: 30px;
}

/* main */
#main {	
	position: relative;
	margin: 0 auto;
}

/* content */
#content {
	background: url(../images/bg7.jpg) no-repeat 0 0;
	display: flex;
	flex-direction: row;
    justify-content: center;
	margin: 10px;
	border: 4px solid #0000ff;
}
.txt {
	text-align: left;
}
/* footer */
#footer {
	overflow:hidden;
	width:100%;
	padding:0;
	position:relative;
	height: 50px;
	margin-top: -50px;
}

/* placeholder input*/
input:-moz-placeholder {
	color:#999;
	opacity:1;
}
input::-moz-placeholder {
	color:#999;
	opacity:1;
}
input::-webkit-input-placeholder {color:#999;}
input:-ms-input-placeholder {color: #999 ;}
/* input:focus placeholder */
input:focus:-moz-placeholder {
	color:#999;
	opacity:1;
}
input:focus::-moz-placeholder {
	color:#999;
	opacity:1;
}
input:focus::-webkit-input-placeholder {color:#999;}
input:focus:-ms-input-placeholder {color: #999 ;}
/* placeholder  textarea*/
textarea:-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea::-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color: #999 ;}
/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea:focus::-moz-placeholder {
	color:#999;
	opacity:1;
}
textarea:focus::-webkit-input-placeholder {color:#999;}
textarea:focus:-ms-input-placeholder {color: #999 ;}
