html,body {
	height: 100%;
	margin: 0;
}
body {
	margin: 0;
	color: #0000ff;
	max-width: 1920px;
	min-width: 320px;
	font-family: 'BadScript-Regular', serif;
    font-size: 18px;
	font-weight: 700;
	line-height: 0.8em;
	margin: 0 auto;
}
#header {
	max-width: 100%;
	height: 10px;
	background: #fff;
	margin-bottom: 30px;
}
/* main */
#main {	
	position: relative;
	margin: 0 auto;
}
/* content */
#content {
	background: url(../images/bg7.jpg) no-repeat 0 0;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	margin: 10px;
	border: 4px solid #0000ff;
}
.txt {
	text-align: left;
	padding-bottom: 6px;
}
/* footer */
#footer {
	overflow:hidden;
	width:100%;

}
@font-face {
font-family: "BadScript-Regular"; 
src: url("../font/BadScript-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
